<main class="page">
    <div class="center">
        <div class="box-profile">
            <form action="#" id="profile-form">
                <div class="box__title_profile box__title_main">
                    <div class="avatar-input">
                        <div class="avatar-input__default-icon"></div>
                    </div>
                </div>

                <div class="form-items form-items__profile form-items__border-bottom">
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idOldPassword}}">{{labelOldPassword}}</label>
                        {{{ inputOldPassword }}}
                        {{#if errors.oldPassword}}
                            <div class="form-item__error">{{errors.oldPassword}}</div>
                        {{/if}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idNewPassword}}">{{labelNewPassword}}</label>
                        {{{ inputNewPassword }}}
                        {{#if errors.newPassword}}
                            <div class="form-item__error">{{errors.newPassword}}</div>
                        {{/if}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idRepeatPassword}}">{{labelRepeatPassword}}</label>
                        {{{ inputRepeatPassword }}}
                        {{#if errors.repeatPassword}}
                            <div class="form-item__error">{{errors.repeatPassword}}</div>
                        {{/if}}
                    </div>
                </div>

                <div class="group-buttons">
                    {{{ button }}}
                </div>
            </form>
        </div>
    </div>
</main>
