<main class="page">
    <div class="center">
        <div class="box-profile">
            <form action="#" id="profile-form">
                <div class="box__title_profile box__title_main">
                    <div class="avatar-input">
                        <label class="form-item__label" for="{{idAvatar}}">
                            <div class="avatar-input__default-icon"></div>
                        </label>
                        {{{ avatarInput }}}
                    </div>
                </div>

                <div class="form-items form-items__profile form-items__border-bottom">
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idEmail}}">{{labelEmail}}</label>
                        {{{ inputEmail }}}
                        {{#if errors.email}}
                            <div class="form-item__error">{{errors.email}}</div>
                        {{/if}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idLogin}}">{{labelLogin}}</label>
                        {{{ inputLogin }}}
                        {{#if errors.login}}
                            <div class="form-item__error">{{errors.login}}</div>
                        {{/if}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idFirstName}}">{{labelFirstName}}</label>
                        {{{ inputFirstName }}}
                        {{#if errors.firstName}}
                            <div class="form-item__error">{{errors.firstName}}</div>
                        {{/if}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idSecondName}}">{{labelSecondName}}</label>
                        {{{ inputSecondName }}}
                        {{#if errors.secondName}}
                            <div class="form-item__error">{{errors.secondName}}</div>
                        {{/if}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idDisplayName}}">{{labelDisplayName}}</label>
                        {{{ inputDisplayName }}}
                        {{#if errors.displayName}}
                            <div class="form-item__error">{{errors.displayName}}</div>
                        {{/if}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idPhone}}">{{labelPhone}}</label>
                        {{{ inputPhone }}}
                        {{#if errors.phone}}
                            <div class="form-item__error">{{errors.phone}}</div>
                        {{/if}}
                    </div>
                </div>

                <div class="group-buttons">
                    {{{ button }}}
                </div>
            </form>
        </div>
    </div>
</main>
