<main class="page">
    <div class="chat">
        <aside class="chat__sidebar">
            <div class="chat__profile">
                {{{ link }}}
            </div>
            <div class="chat__search">
                {{{ inputSearch }}}
                {{{ createChatButton }}}
            </div>
            <nav class="chat__contacts" aria-label="Список контактов">
                {{#each contacts}}
                    {{{ ContactItem }}}
                {{/each}}
            </nav>
        </aside>

        <div class="chat__main">
            {{#if showNoChatSelected}}
                    <div class="chat__empty">
                        Выберите чат чтобы отправить сообщение
                    </div>
            {{else}}
            <header class="chat-header">
                <div class="chat-header__user">
                    <div class="chat-header__avatar">
                        <img src="avatar.png" class="chat-header__avatar-image" alt="Аватар Вадим">
                    </div>
                    <div class="chat-header__username">Вадим</div>
                </div>
                <div class="chat-header__actions">
                    <button class="dots-button__settings">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    {{#if showActionDialogUser}}
                        {{{actionDialogUser}}}
                    {{/if}}
                </div>
            </header>

            <article class="chat__messages">
                {{#if showNoMessages}}
                    <div class="chat__empty">
                        Нет сообщений
                    </div>
                {{else}}
                    {{#each messages}}
                        {{{ Dialog }}}
                    {{/each}}

                <time class="chat__date">19 июня</time>

                {{{ Dialog type="incoming" Multiple="true" content="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой."
                           content-two="Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро." time="11:56"}}}
                {{{ Dialog type="incoming" Image="true" content="camera.png" time="11:56" }}}
                {{{ Dialog type="outgoing" Outgoing="true" content="Круто!" time="12:00" }}}

                {{/if}}
            </article>

            <footer class="message-input">
                <div class="message__actions">
                    <button class="message-input__attach-btn message-input__attach-icon" aria-label="Прикрепить файл" title="Прикрепить файл">

                    </button>
                    {{#if showActionDialogMessage}}
                        {{{ActionDialogMessage}}}
                    {{/if}}
                </div>
                <label for="message" class="visually-hidden"></label>
                {{{ inputMessage }}}
                {{{ sendButton }}}
            </footer>
            {{/if}}
        </div>

        {{#if showDialog}}
            {{{userActionDialog}}}
        {{/if}}

    </div>
</main>
