<main class="page">
    <div class="chat">
        <aside class="chat__sidebar">
            <div class="chat__profile">
                {{{ link }}}
            </div>
            <div class="chat__search">
                {{{ inputSearch }}}
            </div>
            <div class="chat__actions">
                {{{ createChatButton }}}
                {{{ deleteChatButton }}}
            </div>
            <nav class="chat__contacts" aria-label="Список контактов">
                {{#each contacts}}
                    {{{ ContactItem }}}
                {{/each}}
            </nav>
        </aside>

        <div class="chat__main">
            {{#if showNoChatSelected}}
                    <div class="chat__empty">
                        Выберите чат чтобы отправить сообщение
                    </div>
            {{else}}
            <header class="chat-header">
                <div class="chat-header__user">
                    <div class="chat-header__avatar">
                        <img src="avatar.png" class="chat-header__avatar-image" alt="Аватар Вадим">
                    </div>
                    <div class="chat-header__username">{{currentChat.title}}</div>
                </div>
                <div class="chat-header__actions">
                    {{{dotsSettingsButton}}}
                    {{#if showActionDialogUser}}
                        {{{actionDialogUser}}}
                    {{/if}}
                </div>
            </header>

            <article class="chat__messages">
                {{#if showNoMessages}}
                    <div class="chat__empty">
                        Нет сообщений
                    </div>
                {{else}}
                    {{#each messages}}
                        {{{ Dialog }}}
                    {{/each}}
                {{/if}}
            </article>

            <footer class="message-input">
                <form class="chat__message-form" method="post" action="#" >
                    <div class="message__actions">
                        {{{ selectButton }}}
                        {{#if showActionDialogMessage}}
                            {{{ActionDialogMessage}}}
                        {{/if}}
                    </div>
                    <label for="message" class="visually-hidden"></label>
                    {{{ inputMessage }}}
                    {{{ sendButton }}}
                </form>
            </footer>
            {{/if}}
        </div>

        {{#if showDialog}}
            {{{userActionDialog}}}
        {{/if}}

    </div>
</main>
