<nav aria-label="Основная навигация">
    <ul>
        <p><li>{{ Link page="test_page" position="center" style="profile_primary" name="Тестовая страница"}}</li></p>
        <p><li>{{ Link page="login" position="center" style="profile_primary" name="Вход"}}</li></p>
        <p><li>{{ Link page="registration" position="center" style="profile_primary" name="Регистрация"}}</li></p>
        <p><li>{{ Link page="list" position="center" style="profile_primary" name="Чат"}}</li></p>
        <p><li>{{ Link page="profile" position="center" style="profile_primary" name="Профиль"}}</li></p>
        <p><li>{{ Link page="profile_edit" position="center" style="profile_primary" name="Изменить профиль"}}</li></p>
        <p><li>{{ Link page="profile_password" position="center" style="profile_primary" name="Изменить пароль"}}</li></p>
        <p><li>{{ Link page="500" position="center" style="profile_primary" name="Ошибка 500"}}</li></p>
        <p><li>{{ Link page="404" position="center" style="profile_primary" name="Ошибка 404"}}</li></p>
    </ul>
</nav>
