<main class="page">
    <div class="center">
        <div class="box-profile">
            <form action="#" id="profile-form">
                <div class="box__title_profile box__title_main">
                    Профиль
                </div>

                <div class="form-items form-items__profile form-items__border-bottom">
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idEmail}}">{{labelEmail}}</label>
                        {{{ inputEmail }}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idLogin}}">{{labelLogin}}</label>
                        {{{ inputLogin }}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idFirstName}}">{{labelFirstName}}</label>
                        {{{ inputFirstName }}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idSecondName}}">{{labelSecondName}}</label>
                        {{{ inputSecondName }}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idDisplayName}}">{{labelDisplayName}}</label>
                        {{{ inputDisplayName }}}
                    </div>
                    <div class="form-item__group">
                        <label class="form-item__label" for="{{idPhone}}">{{labelPhone}}</label>
                        {{{ inputPhone }}}
                    </div>
                </div>

                <div class="group-buttons group-buttons__profile form-items__border-bottom">
                    {{{ linkEdit }}}
                    {{{ linkPassword }}}
                    {{{ linkLogout }}}
                </div>
            </form>
        </div>
    </div>
</main>
