<main class="page">
    <div class="center">
        <div class="box box__shadow">
            <form action="#" id="test-form">
                <div class="box__title box__title_main">
                    {{title}}
                </div>

                <div class="group-buttons">
                    {{{ inputMessage }}}
                    {{{ inputLogin }}}
                    {{{ button1 }}}
                    {{{ button2 }}}
                </div>
            </form>
        </div>
    </div>
</main>
