<main class="page">
    <div class="center">
        <div class="box box__shadow">
            <form action="#" id="test-form">
                <div class="box__title box__title_main">
                    {{title}}
                </div>

                <div class="group-buttons">
                    {{{ inputMessage }}}
                    <div class="form-item{{class}}">
                        <div class="form-item__group">
                            <label class="form-item__label" for="{{id}}">{{label}}</label>
                            {{{ inputLogin }}}
                            {{#if errors.login}}
                                <div class="form-item__error">{{errors.login}}</div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-item{{class}}">
                        <div class="form-item__group">
                            <label class="form-item__label" for="{{id2}}">{{label2}}</label>
                            {{{ inputPassword }}}
                            {{#if errors.password}}
                                <div class="form-item__error">{{errors.password}}</div>
                            {{/if}}
                        </div>
                    </div>
                    {{{ button1 }}}
                    {{{ button2 }}}
                </div>
            </form>
        </div>
    </div>
</main>
