<main class="page">
    <div class="center">
        <div class="box box__shadow">
            <form action="#" id="registration-form">
                <div class="box__title box__title_main">
                    Регистрация
                </div>

                <div class="form-items">
                    {{{ inputEmail }}}
                    {{{ inputLogin }}}
                    {{{ inputFirstName }}}
                    {{{ inputSecondName }}}
                    {{{ inputPhone }}}
                    {{{ inputPassword }}}
                    {{{ inputConfirmPassword }}}
                </div>

                <div class="group-buttons">
                    {{{ button }}}
                    {{{ link }}}
                </div>
            </form>
        </div>
    </div>
</main>
