<input id="{{id}}" class="message {{class}}"
{{#if error}}
    placeholder="{{errorText}}"
{{else}}
    placeholder="{{placeholder}}"
{{/if}}
       autocomplete="off" name="{{name}}" value="{{value}}">

{{#if error}}
    <div class="{{error}}"></div>
{{/if}}
