<input id="{{id}}" class="message {{class}}" placeholder="{{placeholder}}" autocomplete="off" name="{{name}}" value="{{value}}">

{{#if error}}
    <div class="message-input__error">{{error}}</div>
{{/if}}
